spring:
  application:
    name: bn-auth-service
  jackson:
    time-zone: America/Sao_Paulo
  datasource:
    url: jdbc:postgresql://localhost:5432/bnauth
    username: bn
    password: secret123
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

data:
  redis:
    host: localhost
    port: 6379
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0

jwt:
  secret: myVerySecretKeyThatIsAtLeast256BitsLongForHS256Algorithm
  access-token-expiration: 900000
  refresh-token-expiration: 604800000
  expiration: 86400000

server:
  port: 8080
